@use "../../global" as *;

.c-button {
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.c-button__primary {
  border-color: $color-main;
  background: $white;
  text-align: center;
  color: $color-main;

  @media(any-hover: hover) {
    &:hover {
      background: $color-main;
      color: $white;
    }
  }
}

.c-button__secondary {
  background: $color-main;
  color: $white;
  text-align: center;
  transition: all 0.3s ease;
  @media(any-hover: hover) {
    &:hover {
      background: $color-dark;
    }
  }
}

.c-button__tertiary {
  color: $yellow;
  border: 3px solid $yellow;
  transition: all 0.3s ease;
  padding: vw(32) vw(101) vw(32) vw(98);
  position: relative;


  @include mq(sp) {
    padding: rm(27) rm(111) rm(27) rm(108);
    border-width: rm(2);
  }

  .c-button__arrow,
  .c-button__text {
    @include font(24, 500, 29, );
    font-family: $ff-en;

    @include mq(sp) {
      font-size: rm(16);
    }
  }

  .c-button__arrow {
    position: absolute;
    right: vw(29);
    top: 50%;
    translate: 0 -50%;
    transition: right 0.3s ease;

    @include mq(sp) {
      right: vw-sp(18);
    }
  }

  @media(any-hover: hover) {
    &:hover {
      background: $yellow;
      color: $color-text;

      .c-button__arrow {
        right: vw(20);

        @include mq(sp) {
          right: vw-sp(12);
        }
      }
    }
  }

}

.c-button__quaternary {
  border-color: $color-main;
  background: $white;
  padding: rm(calc(24 - 1)) rm(calc(80 - 1)) rm(calc(24 - 1)) rm(calc(80 - 1));
  position: relative;


  @include mq(sp) {
    width: rm(295);
    height: rm(72);
    padding: rm(24) 0 rm(22);
  }

  .c-button__text,
  .c-button__arrow {
    @include font(16, 500, 24, );
    color: $color-main;
    transition: all 0.3s ease;

    @include mq(sp) {
      font-size: rm(14);
    }
  }

  .c-button__arrow {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: rm(20);

    @include mq(sp) {
      right: rm(11);
      left: auto;
    }
  }


  @media(any-hover: hover) {
    &:hover {
      background: $color-main;

      .c-button__text,
      .c-button__arrow {
        color: $white;
      }

      .c-button__arrow {
        right: rm(12);
      }
    }
  }
}