@use "../../global" as *;

.c-button {
  border: 1px solid transparent;
}

.c-button__primary {
<<<<<<< HEAD
  border-color: $color-main;
  text-align: center;
  color: $color-main;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $color-main;
    scale: 0 1;
    transform-origin: right top;
    transition: scale 0.3s ease;
  }

  @media(any-hover: hover) {
    &:hover {
=======
  border-color: $hover-color;
  background: $white;
  text-align: center;
  transition: all 0.3s ease;
  color: $hover-color;

  @media(any-hover: hover) {
    &:hover {
      background: $hover-color;
>>>>>>> parent of 29376cb (残り1ページ)
      color: $white;

      &::before {
        scale: 1;
        transform-origin: left center;
      }
    }
  }
}

.c-button__secondary {
  background: $hover-color;
  color: $white;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $color-dark;
    scale: 0 1;
    transform-origin: right top;
    transition: scale 0.3s ease;
  }
  @media(any-hover: hover) {
    &:hover {
      &::before {
        scale: 1 1;
        transform-origin: left center;
      }
    }
  }
}

.c-button__tertiary {
  color: $yellow;
  border: 3px solid $yellow;
  transition: all 0.3s ease;
<<<<<<< HEAD
  padding: vw(32) vw(101) vw(32) vw(98);
  position: relative;


  @include mq(sp) {
    padding: rm(27) rm(111) rm(27) rm(108);
    border-width: rm(2);
  }

  .c-button__arrow,
  .c-button__text {
    @include font(24, 500, 29, );
    font-family: $ff-en;

    @include mq(sp) {
      font-size: rm(16);
    }
  }

  .c-button__arrow {
    position: absolute;
    right: vw(29);
    top: 50%;
    translate: 0 -50%;
    transition: right 0.3s ease;

    @include mq(sp) {
      right: vw-sp(18);
    }
  }

  @media(any-hover: hover) {
    &:hover {
      background: $yellow;
      color: $color-text;

      .c-button__arrow {
        right: vw(20);

        @include mq(sp) {
          right: vw-sp(12);
        }
      }
    }
  }

}

.c-button__quaternary {
  border-color: $color-main;
  background: $white;
  padding: rm(calc(24 - 1)) rm(calc(80 - 1)) rm(calc(24 - 1)) rm(calc(80 - 1));
  position: relative;


  @include mq(sp) {
    width: rm(295);
    height: rm(72);
    padding: rm(24) 0 rm(22);
  }

  .c-button__text,
  .c-button__arrow {
    @include font(16, 500, 24, );
    color: $color-main;
    transition: all 0.3s ease;

    @include mq(sp) {
      font-size: rm(14);
    }
  }

  .c-button__arrow {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: rm(20);

    @include mq(sp) {
      right: rm(11);
      left: auto;
    }
  }


  @media(any-hover: hover) {
    &:hover {
      background: $color-main;

      .c-button__text,
      .c-button__arrow {
        color: $white;
      }

      .c-button__arrow {
        right: rm(12);
      }
    }
  }
=======
>>>>>>> parent of 29376cb (残り1ページ)
}