@use "../../global" as *;

.c-widget-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-widget-meta__category {
  @include font(12, 500, 17, );
  padding: rm(3) rm(11) rm(4) rm(11);
  border: 1px solid currentColor;
  color: $accent-color-red
}

.c-widget-meta__time {
  @include font(14, 500, 20, );
  color: #888888;
}