@use "../../global" as *;

.p-breadcrumb {
  margin-block-start: vw(13);
  margin-inline: auto;
  max-width: 1180px;
  padding-inline: vw(40);

<<<<<<< HEAD
  @include mq(sp) {
    padding-inline: rm(20);
    margin-block-start: rm(10);
  };

  .p-breadcrumb__symbol {
    margin-inline: rm(8);
  }


  span {
    @include font(12, 500, 17, );
  }

  a {
=======
  .home {
>>>>>>> parent of 29376cb (残り1ページ)
    color: #888;
    transition: opacity 0.3s ease;

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}