@use "../../global" as *;

.p-bg {
  clip-path: polygon(0 0, 100% 28%, 100% 100%, 0 72%);
  background: #EDF3F8;
  width: 100%;

  @include mq(sp) {
    clip-path: polygon(0 0, 100% rm(64), 100% 100%, 0 calc(100% - rm(64)));
  }
}