@use "../../global" as *;

.p-case {
  background: url(../img/about-top-pc.jpg) no-repeat center center / cover;

  @include mq(sp) {
    background-image: url(../img/sp/about-top-sp.jpg);
  }
}

.p-case__inner {
  @include mq(sp) {
    max-width: 600px;
    margin-inline: auto;
  }
}

.p-case__list {
  display: flex;
  column-gap: rm(16);

  @include mq(sp) {
    flex-direction: column;
    column-gap: 0;
    row-gap: rm(20);
  }

  li a {
    font-size: rm(14);
    font-weight: 700;
    background: #eee;
    border-radius: rm(4);
    width: rm(208);
    height: rm(44);
    display: grid;
    place-items: center;
    transition: opacity 0.3s ease;

    @include mq(sp) {
      width: calc(100% - rm(20 * 2));
      margin-inline: auto;
    }

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.p-case__contents {

}

.p-case__nav {
  
}

.p-case__category-contents {
  margin-block-start: rm(80);

  @include mq(sp) {
    margin-block-start: rm(61);
  }
}

.p-case__category-content {

  &:not(:first-child) {
    margin-block-start: rm(80);

    @include mq(sp) {
      margin-block-start: rm(60);
    }
  }
}

.p-case__heading {
  display: flex;
  column-gap: rm(20);
  align-items: center;
  padding-inline-start: rm(18);
  position: relative;

  @include mq(sp) {
    flex-direction: column;
    column-gap: 0;
    row-gap: rm(3);
    align-items: start;
  }

  &::before {
    content: '';
    position: absolute;
    width: rm(8);
    height: rm(41);
    background: $color-main;
    top: 50%;
    translate: 0 -50%;
    left: 0;

    @include mq(sp) {
      height: rm(55);
    }
  }
}

.p-case__heading--ja {
  @include font(28, 700, 41, );

  @include mq(sp) {
    font-size: rm(24);
  }
}

.p-case__heading--en {
  font-family: $ff-en;
  @include font(16, 500, 20, );
  color: $color-main;

  @include mq(sp) {
    font-size: rm(14);
  }
}

.p-case__category-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: rm(64);
  column-gap: rm(80);
  margin-block-start: rm(67);

  @include mq(sp) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: rm(54);
    column-gap: 0;
    margin-block-start: rm(24);
  }

  .p-case__category-card {

  }
}

.p-case__card-heading {
  background: $color-main;
  border-radius: rm(12) rm(12) 0 0;
  position: relative;
  padding: rm(18) rm(40) rm(19);
  display: flex;
  flex-direction: column;
  row-gap: rm(8);

  @include mq(sp) {
    padding: rm(19) rm(20) rm(18);
    row-gap: rm(3)
  }
}

.p-case__head-genre {
  @include font(14, 700, 20, );
  color: $white;

  @include mq(sp) {
    font-size: rm(12);
  }
}

.p-case__head-company {
  color: $white;
  @include font(24, 700, 35, );
  display: inline-flex;
  column-gap: rm(16);
  align-items: end;

  @include mq(sp) {
    font-size: rm(16);
    column-gap: rm(12);
  }

  span {
    color: $white;
    @include font(16, 700, 23, );

    @include mq(sp) {
      font-size: rm(14);
    }
  }
}

.p-case__head-img {
  border-radius: rm(12);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: rm(20);
  width: rm(160);
  height: rm(112);
  background: #FFF;
  box-shadow: 0 rm(3) rm(12) 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;

  @include mq(sp) {
    width: rm(90);
    height: rm(68);
    border-radius: rm(4);
  }


  img {
    width: 100%;
    object-fit: cover;
  }
}

.p-case__body {
  border-radius: 0 0 rm(12) rm(12);
  background: $white;
  padding: rm(41) rm(40) rm(37);
  box-shadow: 0 rm(3) rm(12) 0 rgba(0, 0, 0, 0.16);

  @include mq(sp) {
    padding: rm(22) rm(20) rm(16);
  }
}

.p-case__course {
  display: flex;
  column-gap: rm(9);
  @include font(16, 700, 23, );
  padding-block-end: rm(11);
  border-block-end: 1px solid #ddd;

  @include mq(sp) {
    column-gap: rm(6);
    padding-block-end: rm(10);
  }
}

.p-case__text-boxes {
  margin-block-start: rm(32);
  display: flex;
  flex-direction: column;
  row-gap: rm(30);

  @include mq(sp) {
    margin-block-start: rm(22);

  }
}

.p-case__text-box {



  &:not(:first-child) {
    .p-case__text {
      @include mq(sp) {
        margin-block-start: rm(7);
      }
    }
  }
}

.p-case__checkbox {
  @include font(18, 700, 26, );
  position: relative;
  padding-inline-start: rm(30);

  @include mq(sp) {
    font-size: rm(16);
    padding-inline-start: rm(25);
  }

  &::before {
    content: '';
    position: absolute;
    background: url(../img/icon-check.svg) no-repeat center center / contain;
    width: rm(20);
    height: rm(20);
    top: 50%;
    translate: 0 -50%;
    left: 0;

    @include mq(sp) {
      width: rm(15.516);
      height: rm(15.516);
    }
  }
}

.p-case__text {
  @include font(14, 500, 24, );
  margin-block-start: rm(7);

  @include mq(sp) {
    margin-block-start: rm(6);
  }
}

.p-case__button {
  margin-block-start: rm(60);
  text-align: center;

  @include mq(sp) {
    margin-block-start: rm(41);
  }
}
