@use "../../global" as *;

.p-contact-thanks {
  background: url(../img/contact-top.jpg) no-repeat center center / cover;

  @include mq(sp) {
    background: url(../img/sp/contact-top-sp.jpg) no-repeat center center / cover;
  }
}

.p-contact-thanks__content {
  max-width: 687px;
  margin-inline: auto;
  width: fit-content;
}

.p-contact-thanks__text {
  @include font(14, 500, 24, );
  margin-inline-end: rm(64);

  @include mq(sp) {
    margin-inline-end: 0;
  }
}

.p-contact-thanks__button {
  margin-block-start: rm(14);
  display: flex;
  column-gap: rm(8);

  span,
  a {
    @include font(14, 500, 20, );
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: $color-main;
    transition: opacity 0.3s ease;

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}