@use "../../global" as *;


//アイコン ====================
.p-drawer__icon {
  position: absolute;
  z-index: $z-drawerIcon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: rm(22);
  right: rm(20);
  width: rm(27);
  height: rm(15.75);

  @include mq(pc) {
    top: rm(31);
    right: rm(16);
  }

  @include mq(lg) {
    display: none;
  }
}
.p-drawer__icon--bar {
  width: 100%;
  height: rm(2.25);
  background: $color-main;

}

//メニューが開いている時 ========
.p-drawer__icon.js-show {
  .p-drawer__icon--bar:nth-of-type(1) {
    rotate: 45deg;
    translate: 0 rm(7.4);
  }
  .p-drawer__icon--bar:nth-of-type(2) {
    display: none;
  }
  .p-drawer__icon--bar:nth-of-type(3) {
    rotate: -45deg;
    translate: 0 rm(-7.4);
  }
}

//ドロワーメニュー
.p-drawer {
  position: fixed;
  top: rm(60);
  z-index: $z-drawer;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - rm(60));
  height: calc(100svh - rm(60));
  background: $color-main;

  @include mq(pc) {
    height: calc(100vh - rm(79));
    height: calc(100svh - rm(79));
    top: rm(79);
  }
}
.p-drawer__icon--bar {
  transition: all 0.5s ease;
}

//ドロワーの出現の動きを指定
.p-drawer {
<<<<<<< HEAD
  translate: 101%;
<<<<<<< HEAD
  transition: translate 0.3s ease;
=======
  transition: translate 0.5s ease;
>>>>>>> parent of 29376cb (残り1ページ)
=======
  translate: 0 -120%;
  transition: translate 0.5s ease;
>>>>>>> parent of a3174c5 (完成)

  &.js-show {
    translate: 0;
  }
}
.p-drawer__body {
  width: 100%;
  height: fit-content;
  padding-block: rm(56) rm(40);
  padding-inline: rm(40);
  width: min(calc(rm(295) + rm(40) * 2), 100%);
  margin-inline: auto;
}
.p-drawer__list {
  display: flex;
  flex-direction: column;
  row-gap: rm(33);
  align-items: center;
  margin-block-end: rm(36);
  li a {
    font-size: rm(16);
    font-weight: 500;
    padding-block: rm(4);
    color: $white;
    transition: opacity 0.3s ease;

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.p-drawer__button {
  display: inline-block;
  color: $white;
  padding-block: rm(22) rm(21);
  text-align: center;
  width: 100%;
  border: 1px solid $white;
  font-size: rm(16);
  font-weight: 500;
  transition: all 0.3s ease;

  @media(any-hover: hover) {
    &:hover {
      background: $white;
      color: $color-main;
    }
  }

  &.--white {
    background: $white;
    color: $color-main;

    @media(any-hover: hover) {
      &:hover {
        background: $color-dark;
        color: $white;
        border-color: $color-dark;
      }
    }
  }

  &:not(:first-of-type) {
    margin-block-start: rm(32);
  }
}