@use "../../global" as *;

.p-download {
  background: url(../img/download-top-pc.jpg) no-repeat center center / cover;

  @include mq(sp) {
    background-image: url(../img/sp/download-top-sp.jpg);
  }
}

.p-download__inner {
  display: flex;
  column-gap: rm(40);
  
  @include mq(sp) {
    flex-direction: column;
    column-gap: 0;
    row-gap: rm(59);
  }
}

.p-download__content {

}

.p-download__heading {
  @include font(28, 700, 40, );

  @include mq(sp) {
    font-size: rm(20);
  }
}

.p-download__img {
  margin-block-start: rm(41);
  width: rm(275);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  margin-inline: auto;

  @include mq(sp) {
    margin-block-start: rm(40);
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

.p-download__text {
  margin-block-start: rm(38);
  @include font(14, 500, 24, );

  @include mq(sp) {
    margin-block-start: rm(40);
  }
}