@use "../../global" as *;

//ヘッダー ========================
.p-header {
  width: 100%;
  height: auto;
  background: $white;
  overflow: hidden;
}
.p-header__inner {
  display: grid;
  align-items: center;
  grid-template-columns: rm(284) 1fr;
  padding: rm(16);

  @include mq(sp) {
    grid-template-columns: rm(200) 1fr;
    padding: rm(14) rm(20) rm(13);
  }
}
.p-header__logo {
  color: $color-main;
  font-family: $ff-sub;
  font-size: rm(40);
  font-weight: 700;
  line-height: calc(47 / 40);
  text-transform: capitalize;

  @include mq(sp) {
    font-size: rm(28);
    letter-spacing: 0.005em;
    line-height: calc(33 / 28);
  }
}
.p-header__nav {
  @include mq(lg) {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: rm(32);
  }
  //spの場合非表示
  display: none;
}
.p-header__list {
  display: flex;
  align-items: center;
  column-gap: rm(46);
  translate: 0 rm(3);

  li {
    &:not(:first-child) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: rm(18);
        height: 1px;
        rotate: 135deg;
        top: 50%;
        translate: 0 -50%;
        right: calc(100% + rm(16));
        background: $color-text;
      }
    }
  }

  li a {
    @include font(14, 500, 24, );
    transition: opacity 0.3s ease;

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.p-header__button-wrapper {
  display: flex;
  column-gap: rm(10)
}

.p-header__button {
  @include font(14, 500, 24, );
  width: rm(176);
  height: rm(68);
  display: grid;
  place-items: center;
}
