@use "../../global" as *;

//ヘッダー ========================
.p-header__space {
  &.js-drawer-open {
    padding-block-start: calc(79 / 1199 * 100vw);
     @include mq(sp) {
      padding-block-start: rm(60);
    }
  }
}

.p-header {
  width: 100%;
  height: auto;
  background: $white;

  &.js-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-header;
  }
}
.p-header__inner {
  display: grid;
  align-items: center;
  grid-template-columns: rm(284) 1fr;
  padding: rm(16);

  @include mq(sp) {
    grid-template-columns: rm(200) 1fr;
    padding: rm(14) rm(20) rm(13);
  }
}
.p-header__logo {
  color: $color-main;
  font-family: $ff-sub;
  font-size: rm(40);
  font-weight: 700;
  line-height: calc(47 / 40);
  text-transform: capitalize;
  transition: opacity 0.3s ease;

  @include mq(sp) {
    font-size: rm(28);
    letter-spacing: 0.005em;
    line-height: calc(33 / 28);
  }

  @media(any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
.p-header__nav {
  @include mq(lg) {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: rm(32);
  }
  //spの場合非表示
  display: none;
}
.p-header__list {
  display: flex;
  align-items: center;
  column-gap: rm(46);
  translate: 0 rm(3);

  li {
    &:not(:first-child) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: rm(18);
        height: 1px;
        rotate: 135deg;
        top: 50%;
        translate: 0 -50%;
        right: calc(100% + rm(16));
        background: $color-text;
      }
    }
  }

  li a {
    @include font(14, 500, 24, );
    transition: opacity 0.3s ease;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: calc(100% + rm(6));
      left: 50%;
      translate: -50%;
      scale: 0 1;
      transform-origin: center center;
      transition: scale 0.3s ease;
      background: $color-dark;
      width: 100%;
      height: rm(2);
    }

    @media(any-hover: hover) {
      &:hover {
        &::before {
          scale: 1 1;
        }
      }
    }
  }
}

.p-header__button-wrapper {
  display: flex;
  column-gap: rm(10)
}

.p-header__button {
  @include font(14, 500, 24, );
  width: rm(176);
  height: rm(68);
  display: grid;
  place-items: center;
}
