@use "../../global" as *;

.p-top-case {
  background: url(../img/case-bg-pc.png) no-repeat center center / cover;
  padding-block: rm(100) rm(122);

  @include mq(sp) {
    background: url(../img/sp/case-bg-sp.png) no-repeat center center / cover;
    padding-block: rm(124) rm(63);
  }
}

.p-top-case__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: rm(80);
  row-gap: rm(70);
  column-gap: rm(70);

  @include mq(sp) {
    grid-template-columns: repeat(1, 1fr);
    margin-block-start: rm(40);
    column-gap: 0;
    row-gap: rm(54);
    max-width: 600px;
    margin-inline: auto;
  }
}

.p-top-case__card {
 

  @media(any-hover: hover) {
    &:hover {
      .p-top-case__body::after {
        background-image: url(../img/arrow-icon-active.svg);
        right: 0;
      }
    }
  }
}

.p-top-case__img {
  width: rm(320);
  height: rm(240);
  background: $white;

<<<<<<< HEAD
  @include mq(sp) {
    width: 100%;
    height: vw-sp(251);
  }
=======
>>>>>>> parent of 29376cb (残り1ページ)

  img {
    width: 100%;
    object-fit: cover;
  }
}

.p-top-case__body {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: rm(30);
    height: rm(30);
    bottom: 0;
    right: rm(8);
    background: url(../img/arrow-icon-white.svg) no-repeat center center / contain;
    transition: all 0.3s ease;

    @include mq(sp) {
      right: 0;
    }
  }
}

.p-top-case__company {
  color: $white;
  font-size: rm(16);
  font-weight: 700;
  margin-block-start: rm(18);
  display: inline-flex;
  column-gap: rm(16);

  @include mq(sp) {
    margin-block-start: rm(15);
  }

  span {
    font-size: rm(16);
    font-weight: 700;
  }
}

.p-top-case__category {
  color: $white;
  font-size: rm(14);
  font-weight: 700;
  border: 1px solid $white;
  padding: rm(5) rm(15);
  margin-block-start: rm(16);
  width: fit-content;
  line-height: calc(20 / 14);

  @include mq(sp) {
    margin-block-start: rm(15);
  }
}

.p-top-case__link--sp {
  margin-block-start: rm(58);
  width: fit-content;
  display: block;
  margin-inline-start: auto;
}
