@use "../../global" as *;

.p-top-service {
  padding-block: rm(119);
  position: relative;
}

.p-top-service__cards {
  display: flex;
  justify-content: space-between;
  column-gap: rm(70);
}

.p-top__service__card {
  position: relative;
  margin-block-start: rm(87);

  &:nth-child(2) {
    translate: 0 rm(60);
  }

  &:nth-child(3) {
    translate: 0 rm(120);
  }

}

.p-top__service__number {
  position: absolute;
  color: $white;
  @include font(100, 500, 120, );
  font-family: $ff-en;
  right: 0;
  top: rm(-50);
  z-index: 2;

  &::after {
    position: absolute;
    color: $color-main;
    top: rm(-3);
    right: rm(3);
  }

  &.--01 {
    &::after {
      content: '01';
    }
  }

  &.--02 {
    &::after {
      content: '02';
    }
  }

  &.--03 {
    &::after {
      content: '03';
    }
  }
}

.p-top__service__img {
  width: rm(320);
  height: rm(427);
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.p-top-service__lead {
  position: absolute;
  bottom: rm(33);
  left: rm(-32);


  span {
    @include font(28, 700, 41, );
    background: $white;
    color: $color-main;
    width: fit-content;

    &:not(:first-child) {
      margin-block-start: rm(8);
    }
  }

}

.p-top-service__body {
  padding-block-start: rm(14);
}

.p-top-service__text {
  @include font(14, 500, 24, );
}

.p-top-service__bg {
  position: absolute;
  top: calc(50% - rm(4));
  left: 0;
  z-index: -1;
}


